.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  color: white;
  background-color: #fff;
  padding: 10px 20px;
  position: relative;
  border-bottom: 2px solid #ea4265; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: sticky;  /* Sticky at the top */
  top: 0;  /* Stick to the top of the page */
  z-index: 1000; /* Ensure it stays above other content */
}

nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ea4265, #ff750d); /* Gradient effect for the line */
}
.navbar-logo .logo {
  height: 60px;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 0 30px;
  position: relative;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.navbar-menu li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2.5px;
  background-color: #ea4265; 
  transition: width 0.3s ease;
}

.navbar-menu li a {
  color: rgb(69, 69, 69);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-menu li:hover::after {
  width: 100%;
}

.navbar-menu li a:hover {
  color: #ff3d0d;
}

.connect-button {
  background: linear-gradient(90deg, #ea4265, #ff750d);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s, padding 0.2s;
}

.connect-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}