/* General Container Styling */
.home-container {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  background-color: #f7f7f7;
}

/* Hero Section Styling */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 70px 20px; /* Adjusted for spacing */
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

/* Hero Text Styling */
.hero-text {
  max-width: 1000px;
  max-width: 90%;
}

.hero-text h1 {
  font-size: 50px;
  background: linear-gradient(90deg, #ea4265, #ff750d);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* Description Text Styling */
.hero-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: rgb(69, 69, 69);
  margin-bottom: 30px;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
}

.hero-description::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ea4265, #ff750d);
  z-index: -1;
  opacity: 0.1;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.hero-description:hover::before {
  opacity: 0.2;
}

/* Services Text Styling */
.services {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(90deg, #ea4265, #ff750d);
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
}

/* Explore Button Styling */
.explore-button {
  background: linear-gradient(90deg, #ea4265, #ff750d);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s, padding 0.2s;
  margin-left: auto;
  margin-right: auto;
  display: block; /* Make the button a block element */
  width: auto; /* Adjust button width */
  text-align: center; /* Align text in the center */
  margin-top: 20px; /* Add some spacing on top */
}

.explore-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Hero Image Styling */
.hero-image {
  max-width: 30%;
  position: relative;
  margin-top: 30px; /* Add margin-top to push image down */
}

.hero-banner {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
}

.hero-image:hover .hero-banner {
  transform: scale(1.05);
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
  .hero-section {
    flex-direction: column; /* Stack the content vertically on medium screens */
    padding: 50px 10px; /* Adjust padding for medium screens */
  }
  .hero-text {
    max-width: 90%;
    text-align: center; /* Center text on smaller screens */
  }
  .hero-image {
    max-width: 80%; /* Adjust image width */
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 36px; /* Smaller text size for mobile */
  }
  .hero-description {
    font-size: 16px; /* Adjust font size for mobile */
  }
  .hero-image img {
    width: 100%; /* Ensure image takes full width */
    margin: 0 auto;
  }
}
