<!-- Container for the Hero Section -->
<div class="container-fluid home-container">
  <section class="row hero-section">
    <!-- Text Section -->
    <div class="col-lg-8 col-md-12 hero-text text-center text-lg-start">
      <h1>Welcome to "Sreevia AI"</h1>
      <p class="hero-description">
        Discover the power of Artificial Intelligence to innovate and drive success. At Sreevia AI, we help you unlock new possibilities through smart and effective AI solutions.
      </p>
      <p class="services">
        Discuss | Design | Develop | Deploy
      </p>
      <button class="explore-button"><a class="button-link" href="/connect"> Connect with us</a></button>
    </div>
    <!-- Image Section -->
    <div class="col-lg-4 col-md-12 hero-image text-center">
      <img src="robo1.png" alt="Sreevia AI" class="img-fluid hero-banner d-block mx-auto" />
    </div>
  </section>

  <section class="row belief-section mt-5 py-5">
    <div class="col-12 text-center">
      <h2 class="belief-title">The Best Believe in Us</h2>
      <div class="row justify-content-center g-3 belief-images">
        <div class="col-6 col-md-3 belief-image">
          <img src="People_media_factory_logo.jpg" alt="Client 1" class="img-fluid" />
        </div>
        <div class="col-6 col-md-3 belief-image">
          <img src="Indian_Space_Research_Organisation_Logo.png" alt="Client 2" class="img-fluid" />
        </div>
        <div class="col-6 col-md-3 belief-image">
          <img src="Tech_Mahindra_New_Logo.png" alt="Client 3" class="img-fluid" />
        </div>
        <div class="col-6 col-md-3 belief-image">
          <img src="TCS.png" alt="Client 4" class="img-fluid" />
        </div>
        <div class="col-6 col-md-3 belief-image">
          <img src="Meta-Logo.png" alt="Client 4" class="img-fluid" />
        </div>
        <div class="col-6 col-md-3 belief-image">
          <img src="ray-ban-logo.png" alt="Client 4" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
    
</div>
