<div class="home-container">
  <div class="hero-section">
    <div class="hero-text">
      <h1>Welcome to "Sreevia AI"</h1>
      <p class="hero-description">Discover the power of Artificial Intelligence to innovate and drive success. At Sreevia AI, we help you unlock new possibilities through smart and effective AI solutions</p>
      <p class="services">
        Discuss | Design | Develop | Deploy
      </p>
      <button class="explore-button">Connect with us</button>  
      
    </div>
    <div class="hero-image">
      <img src="robo1.png" alt="Sreevia AI" class="hero-banner" />
    </div>
  </div>
</div>
